.group-edit-delete {
}
.list_edit-delete1 {
    margin: 0!important
}
.list-unstyled.list_edit-delete {
    padding-left: 15px;
    width: 150px;
}

.list-unstyled.list_edit-delete > li {
    padding:5px 0;
    padding-left:15px;
    cursor:pointer;
    transition:0.5s;
}

.list-unstyled.list_edit-delete > li:hover {
    background:red;
    color:white;
}

.material-icons.icon-edit-delete {
    cursor:pointer;
    transition:0.5s;
}

.material-icons.icon-edit-delete:hover {
    background:red;
    border-radius:50%;
}


@media (min-width: 576px) {
  .table-Or-list_doc {
    display:table;
    border-collapse:collapse;
    width:100%;
  }
}

@media (min-width: 576px) {
  .table-body.doc {
    display:table-row-group;
  }
}

@media (min-width: 576px) {
  .table-row.doc {
    display:table-row;
    /*padding:5px 15px;*/
    border:2px solid rgba(222,222,222,0.8);
  }
}

@media (min-width: 576px) {
  .table-cell.doc {
    display:table-cell;
    padding:0px 15px;
  }
}

.box-flex_doc_row {
  display:flex;
  flex-direction:row;
  align-items:center;
  height:100%;
  /*margin-left:15px;*/
}

.content-pdf-doc {
  display:block;
  width:100%;
}

.box-flex_column {
  display:flex;
  flex-direction:column;
}

.padding5px {
  padding:5px;
}

.marginleft5px {
  margin-left:15px;
}

.notification-doc {
  display:flex;
  align-items:center;
  justify-content: flex-end
}

.file-name-upload {
  margin-left:5px;
  color:var(--cyan);
}

.material-icons.icon-pdf-upload {
  color:var(--blue);
  font-size: 18px
}
.box-flex_a-doc {
    display: flex
}
