@media (max-width: 575px) {
  .box-flex {
    display:flex;
    /*flex-direction:column;*/
      flex-direction:row
  }
}

@media (max-width: 575px) {
  .basic-item {
    width:100%;
    display:block;
    font-weight:600;
    margin:0;
    text-align:left;
  }
}

@media (max-width: 575px) {
  .grow-1 {
    display:block;
    width:100%;
  }
}

@media (max-width: 575px) {
  .table-head {
    display:none;
  }
}

@media (max-width: 575px) {
  .table-cell-or-item.colspan {
    /*padding:5px 8px;*/
    /*background:rgb(122,122,122);*/
    display:block;
    /*width:100%;*/
    /*color:white;*/
  }
}

@media (max-width: 575px) {
  .table-row {
    background-color:var(--gray-dark);
    /*color:rgba(255,255,255,0.78);*/
    /*margin:5px auto;*/
    /*padding:5px;*/
    transition:0.4s;
    transition-delay:300ms;
    display:grid;
    grid-template-areas:'l r1 r1 r1 r1 r1 r1' 'r2 r2 r2 r2 r2 r2 r2' 'r3 r3 r3 r3 r3 r3 r3' 'r4 r4 r4 r4 r4 r4 r4';
  }
}

@media (max-width: 575px) {
  .table-row > .table-cell-or-item:first-child {
    grid-area:l;
    /*width:50px;*/
    /*text-align:center;*/
    margin:auto;
    /*font-size:22px;
    font-weight:600;*/
    /*display:block;*/
    /*height:58px;*/
    /*width:58px;*/
    margin-left: 0!important
  }
}

@media (max-width: 575px) {
  .table-row > .table-cell-or-item:not(:first-child) {
    /*grid-area:right;*/
  }
}

@media (max-width: 575px) {
  .table-cell-or-item.right1 {
    grid-area:r1;
  }
}

@media (max-width: 575px) {
  .table-cell-or-item.right2 {
    grid-area:r2;
  }
}

@media (max-width: 575px) {
  .table-cell-or-item.right3 {
    grid-area:r3;
  }
}

@media (max-width: 575px) {
  .table-cell-or-item.right4 {
    grid-area:r4;
  }
}

@media (max-width: 575px) {
  .ae-work-time {
    display:block;
    padding-top:15px;
    padding-bottom:15px;
    /*border-radius:50%;*/
    /*background:#dc3545;*/
    padding-left:5px;
    padding-right:5px;
    /*color:white;*/
    transition:0.5s;
  }
}

@media (max-width: 575px) {
  .table-row.date {
    display:block;
  }
}

@media (max-width: 575px) {
  .table-row.content {
    margin:0px 1px;
    /*background:white;*/
    flex:1 1 auto;
    padding:5px;
    /*border:1px solid rgba(222,222,222,0.6);*/
    margin-bottom:15px;
    /*cursor: pointer*/
  }
}

@media (max-width: 575px) {
    .table-row:hover > .table-cell-or-item > .ae-work-time {
        /*opacity: 0.8;*/
        background: transparent!important;
        color: var(--time-work);
        border: 1px dashed var(--time-work);
        font-weight: 600
        /*border:2px solid rgb(215,210,210);*/
    }
    .table-row:hover > .table-cell-or-item.right1 > .box-flex > .grow-1 > .box-flex_row:first-child {
        color: var(--time-work);
        font-size: 1.1em;
        font-weight: 600
    }
    .table-cell-or-item.right1 > .box-flex > .grow-1 > .box-flex_row:first-child {
        color: var(--dark)
    }
    .box-search-ae {
        display: none;
        background:white;
        /*height: 100%;*/
        width: 100%;
        position: fixed;
        z-index: 1;
        bottom: 50px;
        left: 0
    }
    .box-search-ae.show {
        display: block !important;
        min-height: 45px
    }
    .box-flex_item {
        background: transparent
    }
    .btn-add_ae, .box-flex_item {
        display: none
    }
    .box-search-ae-boottom {
        display: flex;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: var(--bg);
        text-align: center;
        z-index: 100;
        padding: 5px;
        align-items: center;
        /*border-top: 1px solid var(--gray);*/
        box-shadow: 0px -4px 6px -1px rgba(199,191,199,1);
    }
    .box-search-ae-boottom>.itemae {
        flex-grow: 1;
        border-right: 1px solid transparent;
        cursor: pointer;
        transition: 0.5s;
        padding: 4px
    }
        .box-search-ae-boottom > .itemae.active, .box-search-ae-boottom > .itemae:hover {
            color: var(--primary-ae);
            font-size: 1.1em;
            background: var(--primary-ae03)
        }
    .box-flex_item.show {
        display: block
    }
}
@media(min-width: 576px) {
    .box-search-ae-boottom {
        display: none
    }
}
.btn-add_ae.show, .box_search.show, .dateae.show, .weekae.show {
    display: block
}

@media (max-width: 575px) {
  .time-show-mb {
    display:block;
    padding:5px 15px;
    text-transform:uppercase;
    margin: auto
  }
}

@media (max-width: 575px) {
  .table-row.content:hover {
    /*background:rgba(243,242,242,0.56);*/
    opacity:0.9;
  }
}

@media (max-width: 575px) {
  .ae-list-btn.active {
    display:block;
    /*height:100%;*/
    /*background:#232327;*/
    position:fixed;
    z-index:1;
    width:100%;
    /*animation:btns 0.5s;*/
    /*animation-duration:4s;*/
    /*transition:all 2s ease;*/
    /*width:100%;*/
    text-align:center;
  }
}

@media (max-width: 767px) {
  .box-flex_row {
    display:flex;
    margin:auto;
    opacity:0.8;
  }
}

@media (max-width: 575px) {
  .d-none_sm {
    display:none;
  }
}

@media (max-width: 575px) {
  .color-indigo {
      /*color:#f00fa4;*/
    
  }
}

@media (max-width: 575px) {
  .box-flex_row > span {
    /*color:rgb(232, 231, 231);*/
  }
}

.ae_file-pdf, .ae-par-btom5 {
  vertical-align:text-bottom;
  margin-bottom:5px;
}

.table-cell-or-item.important {
  width:30px;
  margin:auto 0!important;
  margin-left:5px!important;
}

