.select-years, .select-weeks {
  margin:0 5px;
}

.search-calendar {
  display:flex;
  flex-direction:row;
}

.box-search {
  flex-grow:2;
  margin-left:5px;
}

.margin-05px {
  margin:0 5px;
}

.search-form {
  margin:0;
}

.input-group > .custom-select:not(:first-child), .input-group > .form-control:not(:first-child) {
  padding:4px 4px;
}

.input-group-prepend {
}

.search-form {
    border: 1px solid #ced4da;
    border-radius: 2px;
}

.input-group > .custom-select:not(:first-child), .input-group > .form-control:not(:first-child) {
  border:0;
}

.input-group.serch {
    margin-bottom: 0
}
.border0 {
    border: 0
}
.block-btn-document {
    display: flex;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 70px;
    /*height: 40px;*/
    background: white;
    animation: btn-add-animation 1000ms;
    margin-right: 30px;
    justify-content: center
}
@keyframes btn-add-animation {
    from {
        transform: scale(0, 0);
    }
    to {
        transform: scale(1, 1);
    }
    }
@media(max-width: 575px) {
    .btn-add-document-top {
        display: none
    }
    .block-btn-document {
        background-color: var(--gray-dark)
    }
    .btn-add-circle {
        height: 40px;
        width: 40px;
        border-radius: 50%!important;
        background-color: var(--primary);
        position: fixed;
        bottom: 10px;
        right: 35px;
        animation: btn-add-animation 1000ms;
        cursor: pointer;
        color: white!important
    }
}
@media(min-width: 576px) {
    .btn-add-circle {
        display: none
    }
}
.add-edit_doc {
    position: relative;
    width: 100%;
    height: auto
}
.upload-document.hide {
    display: none
}
.upload-document {
    width: 100%;
    height: 100%;
    position: absolute;
    background: green;
    top: 0;
    left: 0
}
    .upload-document.show {
        display: block
    }