@{
    Layout = null;
}
@model AeDashboard.Document.Dto.DocumentDto

<form asp-action="Create" asp-controller="Document" target="Post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group form-float">
        <div class="form-line">
            <label asp-for="BeginDate" class="form-label"></label>
            <input asp-for="BeginDate" value="@DateTime.Now.ToString("s")" required class="form-control" type="datetime-local" />
            <span asp-validation-for="BeginDate" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group form-float">
        <div class="form-line">
            <label asp-for="EndDate" class="form-label"></label>
            <input asp-for="EndDate" type="date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
            <span asp-validation-for="EndDate" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group form-float">
        <div class="form-line">
            <label asp-for="Content" class="form-label"></label>
            <input asp-for="Content" required class="form-control" />
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group form-float">
        <div class="form-line">
            <label asp-for="Url" class="form-label"></label>
            <input asp-for="Url" required class="form-control" />
            <span asp-validation-for="Url" class="text-danger"></span>
        </div>
    </div>
    <!-- Modal footer -->
    <div class="modal-footer">

        <input type="submit" value="Create" class="btn btn-default" />
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
    </div>

</form>

@*<div>
        <a asp-action="Index">Back to List</a>
    </div>*@

