   <div class="table-Or-list_doc">
    <div class="table-body doc">
        <div class="table-row doc" ng-repeat="q in data" ng-click="editOrDelete(q.id)" data-toggle="modal" data-target="#editDocument">
            <div class="table-cell doc header">
                <div class="box-flex_doc_row">
                    <input type="checkbox" class="star padding5px" ng-model="q.important" />
                    <div class="marginleft5px">
                        <span class="content-pdf-doc">{{q.content}}</span>
                        <div class="box-flex_doc_row">
                            <a href="/download/{{q.url}}" class="box-flex_a-doc" target="_blank">
                                <i class="material-icons icon-pdf-upload">picture_as_pdf</i>
                                <span class="file-name-upload">{{q.url}}</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-cell doc left" style="padding: 0 5px">
                <div class="notification-doc">
                    @*<i class="icon ion-android-notifications" style="font-size: 23px;"></i>*@
                       <i class="material-icons" style="font-size:23px;">notifications</i>
                       <span>{{q.notifications}}</span>
                   </div>
               </div>
               <div class="table-cell doc right " data-toggle="tooltip" title="{{q.createDate|date:'dd/MM/yyyy'}}" style="padding: 0 5px" ng-click="hideModal()">
                   <div class="notification-doc text-left">
                       <i class="material-icons">date_range</i>
                       <span>{{q.number}}</span>
                   </div>
               </div>
           </div>
       </div>
   </div>