@using Abp.Extensions
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<environment names="Development">
    <link href="~/view-resources/Views/_Bundles/calendar.css" type="text/css" rel="stylesheet" asp-append-version="true" />
</environment>

<environment names="Staging,Production">
    <link href="~/view-resources/Views/_Bundles/calendar.min.css" type="text/css" rel="stylesheet" asp-append-version="true" />
</environment>
<link href="~/css/style.css" rel="stylesheet">
@*@await Html.PartialAsync("_Create")*@
@await Html.PartialAsync("Upload")
<div class="block-btn-document">
    <button class="btn btn-primary waves-effect btn-add-document-top" ng-click="addOrUpdate()">THÊM TÀI LIỆU</button> &nbsp;&nbsp;&nbsp;
    <form class="search-form ">
        <div class="input-group serch">
            <div class="input-group-prepend">
                <span class="input-group-text border0">
                    <i class="fa fa-search"></i>
                </span>
            </div>
            <input type="text" style="min-width: 250px" ng-model="search" placeholder="Tìm tài liệu, tác giả" autofocus="" class="form-control ng-pristine ng-valid ng-empty ng-touched">
        </div>
    </form>
</div>
<div style="background-color: white">
    <div class="table-Or-list_doc">
        <div class="table-body doc">
            <div class="table-row doc" ng-repeat="q in data" ng-click="editOrDelete(q.id)" data-toggle="modal" data-target="#editDocument">
                <div class="table-cell doc header">
                    <div class="box-flex_doc_row">
                        <input type="checkbox" class="star padding5px" ng-model="q.important" />
                        <div class="marginleft5px">
                            <span class="content-pdf-doc">{{q.content}}</span>
                            <div class="box-flex_doc_row">
                                <a href="/download/{{q.url}}" class="box-flex_a-doc">
                                    <i class="material-icons icon-pdf-upload">picture_as_pdf</i>
                                    <span class="file-name-upload">{{q.url}}</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-cell doc left">
                    <div class="notification-doc">
                        @*<i class="icon ion-android-notifications" style="font-size: 23px;"></i>*@
                        <i class="material-icons" style="font-size:23px;">notifications</i>
                        <span>{{q.notifications}}</span>
                    </div>
                </div>
                <div class="table-cell doc right">
                    <div class="notification-doc">
                        <i class="material-icons">date_range</i>
                        <span>{{q.createDate}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<button class="btn btn-add-circle waves-effect">
    <i class="material-icons" ng-click="addOrUpdate()">add</i>
</button>
<div class="modal fade" id="modalCreateDocument" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @await Html.PartialAsync("_Create")
            </div>

            @*<div class="upload-document hide">
                    @await Html.PartialAsync("Upload")
                </div>*@
        </div>
    </div>
</div>

<div class="modal fade" id="editDocument">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Modal Heading</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                @*@await Html.PartialAsync("Edit")*@
            </div>

        </div>
    </div>
</div>

@section scripts
    {
    <environment names="Development">
        <script src="~/angular/document_ctrl.js" asp-append-version="true"></script>
        <script src="~/js/aeDashboard.js" language="javascript" asp-append-version="true"></script>
        <script type="text/javascript" src="~/js/calendar-view.js" language="javascript" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/Views/Document/document_ctrl.min.js" asp-append-version="true"></script>
    </environment>
}
