
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<environment names="Development">
    <link href="~/view-resources/Views/_Bundles/calendar.css" type="text/css" rel="stylesheet" asp-append-version="true" />
</environment>

<environment names="Staging,Production">
    <link href="~/view-resources/Views/_Bundles/calendar.min.css" type="text/css" rel="stylesheet" asp-append-version="true" />
</environment>
<div class="block-btn-document">
    <button class="btn btn-primary waves-effect btn-add-document-top"  ng-click="addOrUpdate()">THÊM TÀI LIỆU</button> &nbsp;&nbsp;&nbsp;
    <form class="search-form ">
        <div class="input-group serch">
            <div class="input-group-prepend">
                <span class="input-group-text border0">
                    <i class="fa fa-search"></i>
                </span>
            </div>
            <input type="text" style="min-width: 250px" ng-model="search" placeholder="Tìm tài liệu, tác giả" autofocus="" class="form-control ng-pristine ng-valid ng-empty ng-touched">
        </div>
    </form>
</div>
<div style="background-color: white">
    <div class="table-Or-list_doc">
        <div class="table-body doc">
            <div class="table-row doc" ng-repeat="q in data">
                <div class="table-cell doc header">
                    <div class="box-flex_doc_row">
                        <input type="checkbox" class="star padding5px" ng-model="q.important" />
                        <div class="marginleft5px">
                            <span class="content-pdf-doc">{{q.content}}</span>
                            <div class="box-flex_doc_row">
                                <a href="/Upload/{{q.url}}" class="box-flex_a-doc">
                                    <i class="material-icons icon-pdf-upload">picture_as_pdf</i>
                                    <span class="file-name-upload">{{q.url}}</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-cell doc left" >
                    <div class="notification-doc">
                        @*<i class="icon ion-android-notifications" style="font-size: 23px;"></i>*@
                        <i class="material-icons" style="font-size:23px;">notifications</i>
                        <span>{{q.notifications}}</span>
                    </div>
                </div>
                <div class="table-cell doc right">
                    <div class="notification-doc">
                        <i class="material-icons">date_range</i>
                        <span>{{q.createDate}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<button class="btn btn-add-circle waves-effect">
    <i class="material-icons" ng-click="addOrUpdate()">add</i>
</button>
@await Html.PartialAsync("_Create")
@section scripts
{
    <environment names="Development">
        <script src="~/angular/document_ctrl.js" asp-append-version="true"></script>
        <script src="~/js/aeDashboard.js" language="javascript" asp-append-version="true"></script>
        <script type="text/javascript" src="~/js/calendar-view.js" language="javascript" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/Views/CalendarView/document_ctrl.min.js" asp-append-version="true"></script>
    </environment>
}
<script>
    $(document).ready(function() {
        if ($(window).width() > 575) {
            var widthparrent = $('.parrent-body').width()-15;
            $('.block-btn-document').css('width',widthparrent);
        } else {
            var widthparrent1 = $('.parrent-body').width();
            $('.block-btn-document').css('width',widthparrent1);
        }
    })
</script>