/*!
    file ae.cs
*/
body {
    --bg:#ffffff

}
.fade.ae {
    -ms-opacity: 1!important;
    opacity: 1!important;
}
.margin {
    margin-left: -200px!important
}

@media (max-width: 768px) {
    .right-sidebar {
        margin-top: 31px!important
    }
    .list-inline.list-ae-none {
        list-style:none!important;
        padding:0!important;
        margin:0!important;
    }
    .list-inline.list-ae-none > li {
        display:inline!important;
        padding:2px 8px!important;
    }
}
.box-flex_row {
    margin-bottom: auto !important;
    display: block;
    position: relative
}
.progress-bar.show {
    animation-name: showper;
    animation-duration: 1s;
    width: 100%
}
@keyframes showper {
0% {
    width: 0;
    background: var(--cyan)
}    
35% {
    width: 25%;
    background: var(--danger)
}
65% {
    width: 75%;
   background: var(--yellow)
}
100% {
    width: 100%;
    background: var(--primary)
}
}
.showinfor {
    display: none
}
.showinfor.show {
    display: block;
    background-color: var(--danger)
}