.main-ae {
  display:block;
  background-color:var(--bg);
  min-height:60vh;
}

.main-head-1 {
  height:40px;
  /*background:var(--cyan);*/
  vertical-align:middle;
  margin-top:15px;
  color:white;
  text-align:center;
  display: block
}

.box-flex {
  display:flex;
  flex-direction:row;
}

@media (min-width: 360px) {
  .btn-gr-calendar > .btn, .btn {
    /*padding:2px 8px;*/
  }
}

@media (max-width: 360px) {
  .btn-gr-calendar > .btn, .btn {
    padding:2px 3px;
  }
}

.btn-group.btn-gr-calendar > .btn > i, .btn > i {
  /*margin-top:4px;*/
}

@media (min-width: 576px) {
  .btn-group.btn-gr-calendar {
    margin-right:15px;
  }
}

@media (max-width: 576px) {
  .btn-group.btn-gr-calendar {
    margin-right:0;
  }
}

@media (min-width: 576px) {
  .btn-print {
    margin:0 15px;
  }
}

@media (max-width: 576px) {
  .btn-print {
    margin-right:2px;
  }
}

@media (min-width: 576px) {
  .form-control.ae-input-date {
    max-width:250px;
  }
}

@media (max-width: 575px) {
  .form-control.ae-input-date {
    width:100%;
    /*background:red;*/
    margin:0 1px;
  }
}

@media (min-width: 575px) {
  .form-control.ae-input-date {
    width:100%;
    /*background:red;*/
    margin:0 5px;
  }
}

.ae-head-tb-calendar {
  /*height:40px;*/
  /*background-color:var(--gray);*/
  /*color:white;*/
  display:flex;
  align-items:center;
  padding:0 5px;
}

.padding-left-item {
  padding:0 5px;
}

.ae-body-tb-calendar {
  align-content:center;
  display:flex;
  flex-direction:row;
  align-items:stretch;
  padding:0 5px;
}

@media (min-width: 992px) {
  .ae-head-tb-calendar {
    background:var(--gray);
    color:white;
    height:40px;
  }
}

@media (min-width: 992px) {
  .ae-calendar-table {
    display:table;
    border-collapse:collapse;
    width:100%;
  }
}

@media (min-width: 992px) {
  .ae-tb-head {
    display:table-header-group;
    background:var(--gray);
    color:white;
    /*margin:5px 0;*/
  }
}

@media (min-width: 992px) {
  .tb-head-cell {
    display:table-cell;
    padding:5px;
  }
}

@media (min-width: 992px) {
  .ae-tb-body {
    display:table-row;
  }
}

@media (max-width: 991px) {
  .ae-tb-head {
    display:none;
  }
}

@media (max-width: 991px) {
  .ae-flex-tb {
    display:block;
    flex-direction:row;
    align-items:stretch;
  }
}

@media (max-width: 991px) and (min-width:768px) {
  .ae-fl-title {
    width:145px;
    margin-right:5px;
    display:table-cell;
    height:100%;
    background:var(--tabble-bg);
    color:white;
    /*border-bottom:1px solid rgba(239,239,239,0.21);*/
    padding-right:8px;
    padding-left:8px;
  }
}

@media (max-width: 767px) {
  .ae-fl-title {
    width:100%;
    margin-right:5px;
    /*display:inline-block;*/
    height:100%;
    background:rgba(59, 59, 59, 0.06);
    display:block;
      color: #333;
    padding:5px 8px;
    font-stretch:extra-condensed;
    font-weight:600;
      font-size: 0.6em;
  }
}

@media (max-width: 991px) {
  .ae-fl-grow {
    flex-grow:1;
    padding-left:5px;
    display:table-cell;
    padding:5px 5px;
  }
}

@media (max-width: 767px) {
  .ae-fl-grow {
    flex-grow:1;
    /*font-size:1.1em;*/
    display:block;
  }
}

@media (min-width: 992px) {
  .ae-fl-title {
    display:none;
  }
}

@media (min-width: 992px) {
  .ae-tb-body {
    /*background-color:var(--light);*/
  }
}

.ae-tb-body:nth-child(2n + 3) {
  background:rgba(201,201,201,0.31);
  /*margin:5px;*/
  /*border-radius:3px;*/
}

@media (max-width: 991px) {
  .tb-head-cell {
    border-bottom:1px solid rgba(143,143,143,0.21);
  }
}

@media (max-width: 991px) {
  .ae-tb-body:nth-child(2n) {
    background-color:rgba(52,58,64,0.05);
    /*margin:5px;*/
    /*border-radius:10px;*/
    /*padding:0 0 5px 0;*/
  }
}

@media (max-width: 991px) {
  .ae-flex-tb .ae-fl-grow:first-child {
    color:var(--warning);
    font-size:1.1em;
    font-weight:600;
  }
}

@media (max-width: 991px) {
  .ae-fl-title.style-time, .ae-fl-grow.style-time {
    display:inline;
    font-size:1.2em;
    /*padding:0px 0;*/
    /*background:rgba(255,0,0,0);*/
    text-align:center!important;
    display:block;
    color:white;
  }
}

@media (max-width: 991px) {
  .tb-head-cell.style-time {
    background:var(--red);
    display:block;
    padding:5px 8px;
  }
}

@media (max-width: 991px) {
  .ae-fl-title.style-time {
    display:none;
  }
}

@media (max-width: 991px) {
  .ae-tb-body {
    /*margin:5px;*/
    /*border-radius:10px;*/
    margin-bottom:15px;
    -webkit-box-shadow:inset 0px 0px 7px 1px rgba(222,219,222,1);
    -moz-box-shadow:inset 0px 0px 7px 1px rgba(222,219,222,1);
    box-shadow:inset 0px 0px 7px 1px rgba(222,219,222,1);
  }
}

@media (max-width: 991px) {
  .ae-tb-body:hover {
    /*opacity:0.8;*/
    -webkit-box-shadow:inset 0px 0px 22px 1px rgba(171,158,227,1);
    -moz-box-shadow:inset 0px 0px 22px 1px rgba(171,158,227,1);
    box-shadow:inset 0px 0px 22px 1px rgba(171,158,227,1);
  }
}

@media (min-width: 992px) {
  .ae-tb-body:hover {
    opacity:0.8;
    -webkit-box-shadow:inset 0px 0px 6px 1px rgba(235,235,235,1);
    -moz-box-shadow:inset 0px 0px 6px 1px rgba(235,235,235,1);
    box-shadow:inset 0px 0px 6px 1px rgba(235,235,235,1);
  }
}

.main-head-1 > span {
  display:block;
  padding:15px;
  margin:0 5px;
}

.ae-body-main-edit {
  position:relative;
  width:100%;
  display:block;
}

.ae-update {
  display:none!important;
  position:absolute;
  right:30px;
  background:white;
  margin-top:-5px;
  /*margin-left:-30px;*/
  /*border:1px solid rgb(162,162,162);*/
  border-radius:2px;
  padding:0 5px;
  width:0;
  opacity:0;
  transition:0.5s;
  height: auto
}

.material-icons.item-body-icon {
  padding:4px;
  margin-right:2px;
  cursor:pointer;
  transition:0.5s;
}

.material-icons.item-body-icon:hover {
  border-radius:50%;
  background:rgba(32,30,135,0.69);
  color:white;
}

.ae-update.show {
  display:block!important;
  width:auto;
  opacity:1;
}

