:root {
    --bg: #e9e9e9;
    --bg-item: white;
    --time-work: #dc3545;
    --primary-ae: #dc3545;
    --primary-ae03: rgba(23, 162, 184, 0.05)
}
body {
    background: var(--bg)
}
.table-row.content, .table-head {
    background: var(--bg-item)!important
}
@media(max-width: 575px) {
    .box-flex_ae {
        /*background: var(--bg) !important;*/
        /*padding-top: 40%*/
    }
}
@media(min-width: 576px) {
    .box-flex_ae {
        background: var(--bg) !important;
       
    }
}
.table-cell-or-item.colspan {
    color: white;
    background-color: var(--cyan)!important;
}
.color-indigo {
    color: var(--gray-dark)
}
@media(max-width: 575px) {
    .ae-work-time {
        background-color:  var(--cyan)!important;
    color: #e9e9e9
    }
}