
<div class="table-Or-list">
    <div class="table-head">
        <div class="table-cell-or-item time"><span>Giờ</span></div>
        <div class="table-cell-or-item"><span>Nội Dung</span></div>
        <div class="table-cell-or-item"><span>Chủ Trì</span></div>
        <div class="table-cell-or-item"><span>Thành Viên</span></div>
        <div class="table-cell-or-item"><span>Địa Điểm</span></div>
    </div>

    <div class="table-body over-expand-effect" ng-repeat="x in getAll">
        <div class="table-row date">
            <div class="table-cell-or-item colspan"><span class="time-show-mb">{{x["weekdays"]}}&nbsp;&nbsp;({{x.date}})</span></div>
        </div>
        <div class="table-row content" ng-repeat="q in x.calendarViews"  >
            <div class="table-cell-or-item">
                <span class="ae-work-time"> {{formatDate(q["beginDate"])}}</span>
            </div>
          
            <div class="table-cell-or-item right1">
                <div class="box-flex">
                    <div >
                        <ul class="header-dropdown m-r--5 list-unstyled list_edit-delete1">
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-left list-unstyled" style="list-style-type: none;padding: 0">
                                    <li><a  ng-click="edit_caladarView(q.id)" data-toggle="modal" data-target="#editCalendarView"><i class="material-icons">edit</i>Edit</a></li>
                                  
                                    <li><a ng-click="delete_item(q.id,$index)" ng-if="getIsAdmin"><i class="material-icons">delete</i>Delete</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="grow-1">
                        <p class="box-flex_row">
                            <i class="material-icons icon-show-mb color-indigo">work</i>
                            <div class="ae-content_a" ng-bind-html="uCanTrust(q.work)"></div>
                        </p>
                    </div>
                  
                </div>
            </div>
            <div class="table-cell-or-item right2">
                <div class="box-flex">
                    @*<div class="basic-item">
                        <span class="d-none_sm">Chủ Trì</span>
                    </div>*@
                    <div class="grow-1">
                        <p class="box-flex_row">
                            <i class="material-icons icon-show-mb color-indigo">perm_identity</i>
                            <span class="ae-content_a">{{q.admin}}</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="table-cell-or-item right3">
                <div class="box-flex">
                    @*<div class="basic-item">
                        <span class="d-none_sm">Thành Viên</span>
                    </div>*@
                    <div class="grow-1">
                        <p class="box-flex_row">
                            <i class="material-icons icon-show-mb color-indigo">people_outline</i>
                            <span class="ae-content_a">{{q.users}}</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="table-cell-or-item right4">
                <div class="box-flex">
                    @*<div class="basic-item">
                        <span class="d-none_sm">Địa Điểm</span>
                    </div>*@
                    <div class="grow-1">
                        <div class="box-flex_row">
                            <i class="material-icons icon-show-mb color-indigo">place</i>
                            <span>{{q.place}}</span>
                         
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<link href="~/css/tag/jquery.magicsearch.css" rel="stylesheet" />
<!-- Include Editor style. -->
<link href="~/css/froala-editor/froala_editor.pkgd.css" rel="stylesheet" type="text/css" />
<link href="~/css/froala-editor/froala_style.css" rel="stylesheet" type="text/css" />
<!-- Include Editor JS files. -->
<script type="text/javascript" src="~/css/froala-editor/froala_editor.pkgd.min.js"></script>
<script type="text/javascript" src="~/css/froala-editor/codemirror.js"></script>
<script type="text/javascript" src="~/css/froala-editor/xml.js"></script>
<style>
    .multi-items, .magicsearch-wrapper {
        width: 100% !important
    }
</style>