
<div class="table-Or-list">
    <div class="table-head">
        <div class="table-cell-or-item time"><span>Giờ</span></div>
        <div class="table-cell-or-item"><span>Nội Dung</span></div>
        <div class="table-cell-or-item"><span>Chủ Trì</span></div>
        <div class="table-cell-or-item"><span>Thành Viên</span></div>
        <div class="table-cell-or-item"><span>Địa Điểm</span></div>
    </div>

    <div class="table-body over-expand-effect" ng-repeat="x in getAll">
        <div class="table-row date">
            <div class="table-cell-or-item colspan"><span class="time-show-mb">{{x["weekdays"]}}&nbsp;&nbsp;({{x.date}})</span></div>
        </div>
        <div class="table-row content" ng-repeat="q in x.calendarViews" ng-click="edit_caladarView(q.id)"  data-toggle="modal" data-target="#editCalendarView">
            <div class="table-cell-or-item">
                <span class="ae-work-time"> {{formatDate(q["beginDate"])}}</span>
            </div>
          
            <div class="table-cell-or-item right1">
                <div class="box-flex">
                    @*<div class="basic-item">
                        <span class="d-none_sm">Công Việc</span>
                    </div>*@
                    <div class="grow-1">
                        <p class="box-flex_row">
                            <i class="material-icons icon-show-mb color-indigo">work</i>
                            <span class="ae-content_a">{{q.work}}</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="table-cell-or-item right2">
                <div class="box-flex">
                    @*<div class="basic-item">
                        <span class="d-none_sm">Chủ Trì</span>
                    </div>*@
                    <div class="grow-1">
                        <p class="box-flex_row">
                            <i class="material-icons icon-show-mb color-indigo">perm_identity</i>
                            <span class="ae-content_a">{{q.admin}}</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="table-cell-or-item right3">
                <div class="box-flex">
                    @*<div class="basic-item">
                        <span class="d-none_sm">Thành Viên</span>
                    </div>*@
                    <div class="grow-1">
                        <p class="box-flex_row">
                            <i class="material-icons icon-show-mb color-indigo">people_outline</i>
                            <span class="ae-content_a">{{q.users}}</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="table-cell-or-item right4">
                <div class="box-flex">
                    @*<div class="basic-item">
                        <span class="d-none_sm">Địa Điểm</span>
                    </div>*@
                    <div class="grow-1">
                        <div class="box-flex_row">
                            <i class="material-icons icon-show-mb color-indigo">place</i>
                            <span>{{q.place}}</span>
                         
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
