@using Abp.Extensions

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<environment names="Development">
    <link href="~/view-resources/Views/_Bundles/calendar.css" type="text/css" rel="stylesheet" asp-append-version="true" />
</environment>

<environment names="Staging,Production">
    <link href="~/view-resources/Views/_Bundles/calendar.min.css" type="text/css" rel="stylesheet" asp-append-version="true" />
</environment>

@*<link href="~/css/style.css" rel="stylesheet">*@


<div class="box-search-ae">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
    <div class="box-flex_ae">
        <div class="box-flex_item btn-add_ae">
            <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#modalCreate">Kế Hoạch Mới</button>
        </div>
        <div class="box-flex_item grow1">
            <div class="box_search show">
                <i class="material-icons icon_searchae">search</i>
                <input type="search" autocomplete="on" pattern="[A-Za-z0-9]" class="form-control-sm form-control input_searchae" ng-model="search" tabindex=10 />
            </div>
        </div>
        <div class="box-flex_item dateae">
            <input type="date" class="box_dateae form-control-sm form-control" ng-model="searchDate" />
        </div>
        <div class="box-flex_item weekae">
            <input type="week" class="box_dateae form-control-sm form-control" value="{{week}}" ng-model="week" />
        </div>
    </div>
</div>
<div class="box-search-ae-boottom">
    <div class="itemae">
        <i class="material-icons">add</i>
    </div>
    <div class="itemae">
        <i class="material-icons">search</i>
    </div>
    <div class="itemae">
        <i class="material-icons">today</i>
    </div>
    <div class="itemae">
        <i class="material-icons">date_range</i>
    </div>
    <div class="itemae">
        <i class="material-icons">pageview</i>
    </div>

</div>

<div class="main-calendar">
    @await Html.PartialAsync("_List")
</div>
<div class="btn-add_ae1">
    <button class="btn btn-primary btn-circle waves-effect waves-circle waves-float pull-right" type="button" data-toggle="modal" data-target="#modalCreate">
        <i class="material-icons">add</i>
    </button>
</div>

<!-- The Modal -->
<div class="modal fade" id="modalCreate">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Tạo Mới</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                
                @await Html.PartialAsync("Create")
                <div ng-if="getAll.length <= 0" style="margin: auto; display: block">
                    Không Có Dữ Liệu Hôm Nay
                </div>
            </div>


        </div>
    </div>
</div>
<div class="modal fade" id="editCalendarView">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Modal Heading</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                @await Html.PartialAsync("Create")
                @*@await Html.PartialAsync("Edit")*@
            </div>

        </div>
    </div>
</div>

@section scripts
    {
    <environment names="Development">
        <script src="~/angular/calendar_view_ctrl.js" asp-append-version="true"></script>
        @*<script src="~/js/aeDashboard.js" language="javascript" asp-append-version="true"></script>
        <script type="text/javascript" src="~/js/calendar-view.js" language="javascript" asp-append-version="true"></script>*@
    </environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/Views/CalendarView/calendar_view_ctrl.min.js" asp-append-version="true"></script>
    </environment>
}
