
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@ViewBag.mes

<div class="main-ae">
    <div class="justify-content-end align-items-center align-content-stretch main-head-1 box-flex">
        <div role="group" class="btn-group btn-gr-calendar">
            <button class="btn btn-primary waves-effect  waves-float pull-right" type="button"><i class="material-icons">chevron_left</i></button>
            <button class="btn btn-primary waves-effect  waves-float " type="button">Tuần Này</button>
            <button class="btn btn-primary  waves-effect waves-float pull-right" type="button"><i class="material-icons">chevron_right</i></button>
        </div><input type="date" class="form-control ae-input-date" /><button class="btn btn-primary  waves-effect waves-float  btn-print" type="button"><i class="material-icons">local_printshop</i></button>
    </div>
    <div class="align-items-center main-head-1 box-flex bg-cyan">Ngay</div>
    <div class="ae-calendar-table">
        <div class="ae-tb-head">
            <div class="tb-head-cell"><span>Giờ</span></div>
            <div class="tb-head-cell"><span>Nội Dung Công Việc</span></div>
            <div class="tb-head-cell"><span>Chủ Trì</span></div>
            <div class="tb-head-cell"><span>Thực Hiện</span></div>
            <div class="tb-head-cell"><span>Địa Diểm</span></div>
        </div>
        <div class="ae-tb-body border-left border-top border-right" style="padding: 5px">
            <div class="tb-head-cell"><span>Nội Dung Công Việc</span></div>
        </div>
  
       
        <div class="ae-tb-body border-left border-top border-right"  ng-repeat="q in getAll"  ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()">
            <div class="tb-head-cell style-time">
                <div class="ae-flex-tb style-time">
                    <span class="ae-fl-title style-time">Giờ</span>
                    <span class="ae-fl-grow style-time">{{q.beginDate}}</span>
                </div>
            </div>
            <div class="tb-head-cell">
                <div class="ae-flex-tb">
                    <span class="ae-fl-title">Nội Dung Công Việc</span><span class="ae-fl-grow">{{q.work}}</span>
                </div>
            </div>
            <div class="tb-head-cell">
                <div class="ae-flex-tb">
                    <span class="ae-fl-title">Chủ Trì</span>
                    <span class="ae-fl-grow">{{q.admin}}</span>
                </div>
            </div>
            <div class="tb-head-cell">
                <div class="ae-flex-tb">
                    <span class="ae-fl-title">Thực Hiện</span>
                    <span class="ae-fl-grow">{{q.users}}</span>
                </div>
            </div>
            <div class="tb-head-cell">
                <div class="ae-flex-tb " >
                    <div class="d-flex flex-row align-items-center ae-update " ng-class="hoverEdit" >
                        <i class="material-icons item-body-icon">delete</i>
                        <i class="material-icons item-body-icon" data-toggle="modal" data-target="#myModal1">edit</i>
                        <i class="material-icons item-body-icon" data-toggle="modal" data-target="#myModal">add</i>
                    </div>
                    <span class="ae-fl-title">Địa Điểm</span>
                    <span class="ae-fl-grow">{{q.place}}</span>
                </div>
            </div>
        </div>
        <div class="ae-body-main-edit"></div>
    </div>
</div>
<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Modal Heading</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                @await Html.PartialAsync("Create")
            </div>


        </div>
    </div>
</div>
<div class="modal" id="myModal1">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Modal Heading</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                edit
                @await Html.PartialAsync("Edit")
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<script src="~/angular/calendar_view_ctrl.js"></script>
<script src="~/js/aeDashboard.js" language="javascript"></script>