@using Abp.Extensions

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<environment names="Development">
    <link href="~/view-resources/Views/_Bundles/calendar.css" type="text/css" rel="stylesheet" asp-append-version="true" />
</environment>

<environment names="Staging,Production">
    <link href="~/view-resources/Views/_Bundles/calendar.min.css" type="text/css" rel="stylesheet" asp-append-version="true" />
</environment>

<link href="~/css/style.css" rel="stylesheet">
<div style="display: block;text-align: center">
    <button type="button" class="btn btn-primary waves-effect btn-add-calendar" data-toggle="modal" data-target="#modalCreate" style="">
        Thêm Việc mới
    </button>

</div>
<div style="position: fixed; bottom: 15px; right: 30px;z-index: 1000000" class="btn-show-mb">
    <button type="button" class="btn btn-primary btn-circle waves-effect waves-circle waves-float pull-right" data-toggle="modal" data-target="#modalCreate">
        <i class="material-icons">add</i>
    </button>
</div>
<div class="container-fluid" style="margin-bottom: 15px">
    <div class="row">
        <div class="col-md-6">
            <form class="search-form">
                <div class="input-group serch">
                    <div class="input-group-prepend">
                        <span class="input-group-text border0">
                            <i class="fa fa-search"></i>
                        </span>
                    </div>
                    <input type="text" ng-model="search" placeholder="Tìm công việc, Chủ trì, Thành viên" autofocus class="form-control" />
                </div>
            </form>
        </div>
        <div class="col-md-3">
            <input type="week" value="{{week}}" class="form-control-sm form-control" ng-model="week" />
        </div>
        <div class="col-md-3">
            <input type="date" class="form-control-sm form-control" ng-model="searchDate" />
        </div>
    </div>
</div>

<div style="background: white">
    @await Html.PartialAsync("_List")
</div>


<!-- The Modal -->
<div class="modal fade" id="modalCreate">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Tạo Mới</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                @await Html.PartialAsync("Create")
                <div ng-if="getAll.length <= 0" style="margin: auto; display: block">
                    Không Có Dữ Liệu Hôm Nay
                </div>
            </div>


        </div>
    </div>
</div>
<div class="modal fade" id="editCalendarView">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Modal Heading</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                @*@await Html.PartialAsync("Edit")*@
            </div>

        </div>
    </div>
</div>

@section scripts
    {
    <environment names="Development">
        <script src="~/angular/calendar_view_ctrl.js" asp-append-version="true"></script>
        <script src="~/js/aeDashboard.js" language="javascript" asp-append-version="true"></script>
        <script type="text/javascript" src="~/js/calendar-view.js" language="javascript" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/Views/CalendarView/calendar_view_ctrl.min.js" asp-append-version="true"></script>
    </environment>
}
